.about{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    min-height: 100vh;
}

.about_card_div1{
    display: flex;
    align-items: center;
    gap: 10%;
    width: 75%;
    margin-top: 30px;
}
.services_title{
    padding: 20px !important;
}
.title_expertise{
    font-size: 2.5rem !important;
    font-weight: bold !important;
    color: whitesmoke !important;
}
.p_expertise{ 
    text-align: center !important;
  }
.intro_desc_expertise{
    text-align: center !important;
    color: whitesmoke !important;
    font-size: 21px !important;
}

@media screen and (max-width: 1300px) {
    .about{
        flex-direction: column;
    }
    
    .about_card_div1{
        flex-direction: column;
    }

    .mobilecarddiv{
        display: flex;
        width: 100vw;
        justify-content: space-evenly;
        align-items: center;
    } 
}

@media screen and (max-width: 768px) {
    .mobilecarddiv{
        flex-direction: column;
    }
}