.experience {
  margin-top: 60px;
  min-height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.mylist1 {
  list-style-type: circle;
  color: white;
}

.mylist1 .mylist-info {
  color: #ffffff;
  background: linear-gradient(180deg,hsl(240deg 50% 20% / 66%) -89.2%,hsl(311deg 96% 46% / 24%) 78.38%);
  backdrop-filter: blur(40px);
  border: 20px solid
    linear-gradient(
      180deg,
      rgba(216, 123, 219, 0.75) -89.2%,
      rgba(61, 48, 236, 0.822) 78.38%
    );
}
.paddingblock{
  padding: 10px !important; 
}

.mylist1 .myexp {
  all: unset;
  background: transparent;
  list-style-type: circle;
  color: #ffffff;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
}

.mylist1 .myexp:hover {
  background: transparent;
}
