* {
  padding: 0px;
  margin: 0px;

  /* overflow-x: hidden;
    height: auto; */
}
body {
  background-color: var(--background);
  color: var(--text);
}
.app {
  display: flex;
  align-items: center;
  width: 80%;
}
html {
  height: 100%;
}
#root {
  background: #00122e;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
  height: 100%;
}
.app_child {
  width: 100%;
}

@media screen and (device-width: 320px) {
  .app {
    width: 90%;
  }
  .links {
    display: none;
  }
}

@media screen and (device-width: 360px) {
  .app {
    width: 90%;
  }
  .links {
    display: none;
  }
}
