.home {
  width: 100vw;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;
  box-sizing: border-box;
  padding-left: 10%;
  background: #00122e;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
}

.aboutus_left {
  width: 40%;
}
#profile_image{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 5px solid #fff;
}
.skills_outline {
  margin-top: 2rem;
}
.aboutus_right {
  width: 60%;
}
.aboutus_head_name {
  color: white;
  margin-top: 1rem;
}
.aboutus_desc {
  font-size: var(--font-size2);
  margin-top: 1rem;
  line-height: 1.5rem;
  font-family: -webkit-pictograph;
}
.skills_span {
  padding: 10px;
  color: #ffffff;
  text-decoration: none;
  border: 4.18px solid transparent;
  border-image: linear-gradient(101.57deg, #fc59ff 6.41%, #001aff 112.75%);
  border-image-slice: 1;
  margin-right: 2rem;
}
.skills_span:hover {
  background-image: linear-gradient(
    96.19deg,
    #fc59ff -61.44%,
    #fc59ff -61.42%,
    #001aff 145.3%
  );
  color: black;
  font-weight: bold;
}
@media screen and (min-width: 320px) and (max-width: 900px) {
  .home {
    width: 100% !important;
  }

  .aboutus_left {
    display: block;
  }
  .aboutus_right {
    display: block;
    width: 20%;
  }
}

/* @media screen and (min-width: 320px) and (max-width: 600px) {
    
} */

@media screen and (min-width: 320px) {
  .home {
    width: 95%;
  }
  .aboutus_right {
    width: 70%;
  }
  .dp{
    width: 50%;
    margin-left: 25%;
  }
}

@media screen and (max-width: 800px) {
}



.dp{
  /* border: 4.18px solid transparent; */
  border-image: linear-gradient(101.57deg, #fc59ff 6.41%, #001aff 112.75%);
  border-image-slice: 1;

}
.circle5img1{
    width: 50px;
    height: 50px;
    margin-top:5%;
    margin-left:74%;
    background: none;
}